*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 150px;
    justify-content: center;
}
.label{
    margin-left: 5px;
    padding-top: 5px;
}
#input{
    border: 1px solid #999;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-size: 15px;
    margin-left: 5px;
}

#button{
    margin-left: 5px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}
#prompt{
    color: #999;
    margin-top: 10px;
    margin-left: 45px;
    font-size: 14px;
}


